<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "Thiago Ramos", suffix: " - Elixir and programming in general" %>
    <meta name="description" content="All of my not so long-form thoughts on programming, career, product design, and some life philosophy, all in chronological order.">
    <meta name="keywords" content="learning, education, tutorial, web development, elixir, phoenix, web framework, mix, programming, career"/>
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://thiagoramos.me">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Thiago Ramos - Elixir and programming in general">
    <meta property="og:description" content="All of my not so long-form thoughts on programming, career, product design, and some life philosophy, all in chronological order.">
    <!--
      You can generate this image URL dynamically: https://ogcdn.net/e4b8c678-7bd5-445d-ba03-bfaad510c686/v4/{site_text}/{title_text}/{image_url}/og.png
      Replace the variables in the brackets with your own values and use this URL in the image tag below this comment. Ensure values are URL encoded.
      For more information, read: https://www.opengraph.xyz/blog/how-to-implement-dynamic-open-graph-images
    -->
    <meta property="og:image" content="https://cxzchryqsvjyzkxvjmxj.supabase.co/storage/v1/object/public/blog_images/website.png">
    
    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="thiagoramos.me" />
    <meta name="twitter:creator" content="@thramosal" />
    <meta name="twitter:title" content="Thiago Ramos - Elixir and programming in general">
    <meta name="twitter:description" content="All of my not so long-form thoughts on programming, career, product design, and some life philosophy, all in chronological order.">
    <meta name="twitter:image" content="https://cxzchryqsvjyzkxvjmxj.supabase.co/storage/v1/object/public/blog_images/website.png">
    
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
    <script>
        // On page load or when changing themes, best to add inline in `head` to avoid FOUC
        if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
            document.documentElement.classList.add('dark');
        } else {
            document.documentElement.classList.remove('dark')
        }
    </script>
  </head>
  <body class="flex h-full flex-col bg-zinc-50 dark:bg-black">
    <%= @inner_content %>
  </body>
</html>
