KAMAL_REGISTRY_PASSWORD=
SECRET_KEY_BASE=/JLSQ0PGleNbkAjX
POSTGRES_PASSWORD=TvM
DATABASE_URL=@178.104.212.36:5432/blog_prod
ECTO_IPV6=false
RELEASE_NODE=blog@127.0.0.1
GITHUB_TOKEN=6jhDKMX422EEYThmyHtG8
R2_ACCOUNT_ID=254ebba4383676
R2_ACCESS_KEY_ID=b54d
R2_SECRET_ACCESS_KEY=c92cac5df
R2_BUCKET=blog-bucket
R2_PUBLIC_URL=https://assets.thiagoramos.me
R2_UPLOAD_PREFIX=posts
